<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.studysystem.repository.StudyApplicationRepository">
    <insert id="insertApplication" parameterType="com.koreait.studysystem.entity.StudyApplication">
        INSERT INTO study_application (user_id, study_id)
        VALUES (#{userId}, #{studyId})
    </insert>

    <select id="countByUserAndStudy" resultType="int">
        SELECT COUNT(*) FROM study_application WHERE user_id = #{userId} AND study_id = #{studyId}
    </select>

    <select id="findByUserId" parameterType="long" resultType="com.koreait.studysystem.entity.StudyApplication">
        SELECT id, user_id AS userId, study_id AS studyId, applied_at AS appliedAt
        FROM study_application WHERE user_id = #{userId}
    </select>

    <select id="findByStudyId" parameterType="long" resultType="com.koreait.studysystem.entity.StudyApplication">
        SELECT id, user_id AS userId, study_id AS studyId, applied_at AS appliedAt
        FROM study_application WHERE study_id = #{studyId}
    </select>
</mapper> 